
@{
    ViewBag.Title = "AdminRole";
}
<link href="~/Content/zomato.css" rel="stylesheet" />
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(@System.Configuration.ConfigurationManager.AppSettings["webappurl"].ToString()Img/bg-img/hero-2.jpg)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Admin Access</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row ui segment">
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="3">
                <h2>  Add/Remove Admin Role</h2>
            </th>
        </tr>
        <tr>
            <td>
                Select Username :
            </td>
            <td>
                <select class="btn btn--yellow dropdown-toggle" id="selectUN" onchange="GetIsadmin()"></select>
            </td>
        </tr>
        <tr>
            <td>
                Is Admin :
            </td>
            <td>
                <input type="checkbox" id="Isadmin" name="Isadmin">
            </td>
        </tr>
        <tr>
            <td>
                <input class="btn btn-success" type="button" onclick="AdminRole();" value="Submit" />
            </td>
        </tr>
    </table>
</div>
@section scripts {
    <script type="text/javascript">
       var apiUrl = '@(System.Configuration.ConfigurationManager.AppSettings["hosturl"].ToString())'
        var userId = '@Request.RequestContext.HttpContext.Session["UserId"]';
        var admparam = {
            UserId: userId,
            Callfrm: null
        }

        $.ajax({
            type: "POST",
            url: apiUrl + "api/tablereservation/POSTAdminRole",
            data: admparam,
            success: function (data) {
                $.each(data.Table, function (key, value) {
                    $("#selectUN").append($('<option></option>').val(value.UserId).html(value.Username));
                });
            },
            failure: function (data) {
                alert(xhr.status);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });

        function GetIsadmin() {
            var admparam = {
                UserId: $("#selectUN").val(),
                Callfrm: 'drpdwn'
            }

            $.ajax({
                type: "POST",
                url: apiUrl + "api/tablereservation/POSTAdminRole",
                data: admparam,
                success: function (data) {
                    if (data.Table[0].IsAdmin) {
                        //$("#Isadmin").is(':checked');
                        $('#Isadmin').prop('checked', true);
                    }
                    else {
                        $('#Isadmin').prop('checked', false);
                    }
                },
                failure: function (data) {
                    alert(xhr.status);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

        function AdminRole() {
            var admdl = {
                UserId: $("#selectUN").val(),
                Isadmin: $("#Isadmin").is(':checked')
            }

            $.ajax({
                type: "POST",
                url: apiUrl + "api/tablereservation/POSTmakeadmin",
                data: admdl,
                success: function (data) {
                  alert("Data Changed Successfully")
                },
                failure: function (data) {
                    alert(xhr.status);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }
    </script>
}
