
@{
    ViewBag.Title = "Admin";
}
@if (Convert.ToBoolean(Request.RequestContext.HttpContext.Session["Isadmin"]))
{
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <h2>Admin</h2>
    <table id="example" class="display" style="width:100%"></table>
    <br />
    <br />
    @Html.ActionLink("Admin Access", "AdminRole", "Home", new { }, null)
    <br />
}
else
{
    <h1>Access Denied </h1>
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            onload();
        });

        function onload() {
            $.ajax({
                type: "GET",
                url: "http://localhost:53808/api/tablereservation/GETAdminGrid",
                //data: model,
                success: function (data) {
                    $("#example").empty();
                    if (data.Table.length > 0) {
                        $("#example").append("<tr><th>User</th><th>Email</th><th>Date</th><th>Guests</th><th>Registration Number</th><th>Resturant Name</th><th>Action</th></tr>");
                        for (var i = 0; i < data.Table.length; i++) {
                            if (data.Table[i].StatusId == 1) {
                                $("#example").append("<tr><td>" +
                                    data.Table[i].UserName + "</td> <td>" +
                                    data.Table[i].Email + "</td> <td>" +
                                    data.Table[i].ApptDate + "</td> <td>" +
                                    data.Table[i].GuestCount + "</td><td>" +
                                    data.Table[i].RegistrationNumber + "</td><td>" +
                                    data.Table[i].RestaurantName + "</td><td>Approved</td></tr>"
                                );
                            }
                            else if (data.Table[i].StatusId == 2) {
                                $("#example").append("<tr><td>" +
                                    data.Table[i].UserName + "</td> <td>" +
                                    data.Table[i].Email + "</td> <td>" +
                                    data.Table[i].ApptDate + "</td> <td>" +
                                    data.Table[i].GuestCount + "</td><td>" +
                                    data.Table[i].RegistrationNumber + "</td><td>" +
                                    data.Table[i].RestaurantName + "</td><td>Rejected</td></tr>"
                                );
                            }
                            else {
                                $("#example").append("<tr><td>" +
                                    data.Table[i].UserName + "</td> <td>" +
                                    data.Table[i].Email + "</td> <td>" +
                                    data.Table[i].ApptDate + "</td> <td>" +
                                    data.Table[i].GuestCount + "</td><td>" +
                                    data.Table[i].RegistrationNumber + "</td><td>" +
                                    data.Table[i].RestaurantName + "</td><td><input type='button' class='btn-success' onclick='ApproveTble(" + data.Table[i].RegistrationNumber + ',' + 1 + ");' value='APPROVE'/><input type='button' class='btn-danger' onclick='ApproveTble(" + data.Table[i].RegistrationNumber + ',' + 2 + ");' value='REJECT'/></td></tr>"
                                );
                            }
                        }
                    }

                },
                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

        function ApproveTble(id, callfrm) {
            var statusmodel = {
                StatusId: callfrm,
                ResgistrationId: id
            }

            $.ajax({
                type: "POST",
                url: "http://localhost:53808/api/tablereservation/POSTChangestatus",
                data: statusmodel,
                success: function (data) {
                    alert("Status Changed Successfully");
                    onload();
                },
                failure: function (data) {
                    alert(xhr.status);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }
    </script>
}

