
@{
    ViewBag.Title = "Admin";
}
@if (Convert.ToBoolean(Request.RequestContext.HttpContext.Session["Isadmin"]))
{
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <link href="~/Content/zomato.css" rel="stylesheet" />
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(@System.Configuration.ConfigurationManager.AppSettings["webappurl"].ToString()Img/bg-img/hero-1.jpg)">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h2>Admin Approve/Reject</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="resbox__sidebar display-similar-nearby-res ui segment">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Guests</th>
                    <th>Booking Number</th>
                    <th>Resturant Name</th>
                    <th>Special Request</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <br />
    <br />
    @Html.ActionLink("Admin Access", "AdminRole", "Home", new { }, null)
    <br />
}
else
{
    <h1>Access Denied </h1>
}
@section scripts {
    <script type="text/javascript">
        
        $(document).ready(function () {
            onload();
        });

        function DestroyDataTable(tableId) {
            if ($.fn.DataTable.isDataTable(tableId)) {
                $(tableId).DataTable().destroy();
            }
        } 

        function onload() {
            DestroyDataTable("#example");
            $.ajax({
                type: "GET",
                url: appUrl + "api/tablereservation/GETAdminGrid",
                //data: model,
                success: function (data) {
                    $("#example tbody").empty();
                    if (data.Table.length > 0) {
                        //$("#example").append("<tr><th>User</th><th>Email</th><th>Date</th><th>Guests</th><th>Booking Number</th><th>Resturant Name</th><th>Action</th></tr>");
                        for (var i = 0; i < data.Table.length; i++) {
                            if (data.Table[i].StatusId == 1) {
                                $("#example tbody").append("<tr><td>" +
                                    data.Table[i].UserName + "</td> <td>" +
                                    data.Table[i].Email + "</td> <td>" +
                                    data.Table[i].ApptDate + "</td> <td>" +
                                    data.Table[i].GuestCount + "</td><td>" +
                                    data.Table[i].RegistrationNumber + "</td><td>" +
                                    data.Table[i].RestaurantName + "</td><td>" +
                                    data.Table[i].specialreq + "</td><td>Approved</td></tr>"
                                );
                            }
                            else if (data.Table[i].StatusId == 2) {
                                $("#example tbody").append("<tr><td>" +
                                    data.Table[i].UserName + "</td> <td>" +
                                    data.Table[i].Email + "</td> <td>" +
                                    data.Table[i].ApptDate + "</td> <td>" +
                                    data.Table[i].GuestCount + "</td><td>" +
                                    data.Table[i].RegistrationNumber + "</td><td>" +
                                    data.Table[i].RestaurantName + "</td><td>" +
                                    data.Table[i].specialreq + "</td><td>Rejected</td></tr>"
                                );
                            }
                            else {
                                $("#example tbody").append("<tr><td>" +
                                    data.Table[i].UserName + "</td> <td>" +
                                    data.Table[i].Email + "</td> <td>" +
                                    data.Table[i].ApptDate + "</td> <td>" +
                                    data.Table[i].GuestCount + "</td><td>" +
                                    data.Table[i].RegistrationNumber + "</td><td>" +
                                    data.Table[i].RestaurantName + "</td><td>" +
                                    data.Table[i].specialreq + "</td><td><input type='button' class='btn-success' onclick='ApproveTble(" + data.Table[i].RegistrationNumber + ',' + 1 + ");' value='APPROVE'/><input type='button' class='btn-danger' onclick='ApproveTble(" + data.Table[i].RegistrationNumber + ',' + 2 + ");' value='REJECT'/></td></tr>"
                                );
                            }
                        }
                        $("#example").dataTable({ "aaSorting": [[4, "desc"]], "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]] });
                    }

                },
                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

        function ApproveTble(id, callfrm) {
            var statusmodel = {
                StatusId: callfrm,
                ResgistrationId: id
            }

            $.ajax({
                type: "POST",
                url: appUrl + "api/tablereservation/POSTChangestatus",
                data: statusmodel,
                success: function (data) {
                    alert("Status Changed Successfully");
                    onload();
                },
                failure: function (data) {
                    alert(xhr.status);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }
    </script>
}

