
@{
    ViewBag.Title = "Book History";
}
<link href="~/Content/zomato.css" rel="stylesheet" />
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(@System.Configuration.ConfigurationManager.AppSettings["webappurl"].ToString()Img/bg-img/hero-1.jpg)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Booking History</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="resbox__sidebar display-similar-nearby-res ui segment">
    <table id="usergrid" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Booking Number</th>
                <th>Resturant Name</th>
                <th>Guests</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts {
    <script type="text/javascript">
         var userId = '@Request.RequestContext.HttpContext.Session["UserId"]';
        $(document).ready(function () {
            initalload();
        });

        function DestroyDataTable(tableId) {
            if ($.fn.DataTable.isDataTable(tableId)) {
                $(tableId).DataTable().destroy();
            }
        } 

        function initalload() {
            DestroyDataTable("#usergrid");
            var modelparam = {
                UserId: userId
            }
            $.ajax({
                type: "POST",
                url: appUrl + "api/tablereservation/POSTUserGrid",
                data: modelparam,
                success: function (data) {
                    $("#usergrid tbody").empty();
                    if (data.Table.length > 0) {
                        //$("#usergrid tbody").append("<tr><th>Booking Number</th><th>Resturant Name</th><th>Guests</th><th>Date</th><th>Status</th></tr>");
                        for (var i = 0; i < data.Table.length; i++) {
                            if (data.Table[i].StatusId == 1) {
                                $("#usergrid tbody").append("<tr><td>" +
                                    data.Table[i].RegistrationNumber + "</td> <td>" +
                                    data.Table[i].RestaurantName + "</td><td>" +
                                    data.Table[i].GuestCount + "</td><td>" +
                                    data.Table[i].ApptDate + "</td><td class='btn-success'>Approved</td></tr>"
                                );
                            }
                            else if (data.Table[i].StatusId == 2) {
                                $("#usergrid tbody").append("<tr><td>" +
                                    data.Table[i].RegistrationNumber + "</td> <td>" +
                                    data.Table[i].RestaurantName + "</td><td>" +
                                    data.Table[i].GuestCount + "</td><td>" +
                                    data.Table[i].ApptDate + "</td><td class='btn-danger'>Rejected</td></tr>"
                                );
                            }
                            else {
                                $("#usergrid tbody").append("<tr><td>" +
                                    data.Table[i].RegistrationNumber + "</td> <td>" +
                                    data.Table[i].RestaurantName + "</td><td>" +
                                    data.Table[i].GuestCount + "</td><td>" +
                                    data.Table[i].ApptDate + "</td><td class='btn-warning'>Waiting for Approval</td></tr>"
                                );
                            }
                        }
                    }
                    $("#usergrid").dataTable({ "aaSorting": [[0, "desc"]], "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]] });
                    $.each(data.Table1, function (key, value) {
                        $("#selectnme").append($('<option></option>').val(value.UserId).html(value.Username));
                    });
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }
    </script>
}