
@{
    ViewBag.Title = "Bookmarks";
}
<style>
    ul {
        list-style-type: none;
        width: 500px;
    }

    h3 {
        font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    }
</style>
<link href="~/Content/zomato.css" rel="stylesheet" />
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(@System.Configuration.ConfigurationManager.AppSettings["webappurl"].ToString()Img/bg-img/hero-3.jpg)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Bookmarks</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="resbox__sidebar display-similar-nearby-res ui segment">
    <ul id="details"></ul>
</div>
@section scripts {
    <script type="text/javascript">
        var userId = '@Request.RequestContext.HttpContext.Session["UserId"]';
        $(document).ready(function () {
            initialbkmrks();
        });

        function initialbkmrks() {
            $("#details").html('');
            var list = $("#details").append('<ul ></ul>').find('ul');
            var modelparam = {
                UserId: userId
            }
            $.ajax({
                type: "POST",
                url: appUrl +"api/tablereservation/POSTUserBookmarks",
                data: modelparam,
                success: function (data) {
                    $.each(data.Table, function (key, value) {
                        list.append('<li><h3>' + value.RestaurantName + '</h3><p>' + value.ResAddr + ', ' + value.Phnenum + '</p><span class="fa fa-trash" title="Delete bookmark" onclick="removeBkmrk(' + value.bookmrkId + ')"></span></li><hr>');
                    });
                },
                failure: function (data) {
                    alert(xhr.status);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

        function removeBkmrk(id) {
            var modelparam = {
                BookmarkId: id
            }
            $.ajax({
                type: "POST",
                url: appUrl +"api/tablereservation/POSTdelteBkmrk",
                data: modelparam,
                success: function (data) {
                    alert("Bookmark removed successfully!!!");
                    initialbkmrks();
                },
                failure: function (data) {
                    alert(xhr.status);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

    </script>
}

