@{
    ViewBag.Title = "Dasboard";
}
<style>
    div.steelBlueCols {
        border: 4px solid #555555;
        background-color: orange;
        width: 800px;
        text-align: center;
        border-collapse: collapse;
    }

    .divTable.steelBlueCols .divTableCell, .divTable.steelBlueCols .divTableHead {
        border: 1px solid #555555;
        padding: 5px 10px;
    }

    .divTable.steelBlueCols .divTableBody .divTableCell {
        font-size: 12px;
        font-weight: bold;
        color: #FFFFFF;
    }

    .divTable.steelBlueCols .divTableCell:nth-child(even) {
        background: #398AA4;
    }

    .steelBlueCols .tableFootStyle {
        font-size: 13px;
    }

        .steelBlueCols .tableFootStyle .links {
            text-align: right;
        }

            .steelBlueCols .tableFootStyle .links a {
                display: inline-block;
                background: #FFFFFF;
                color: #398AA4;
                padding: 2px 8px;
                border-radius: 5px;
            }

    .steelBlueCols.outerTableFooter {
        border-top: none;
    }

        .steelBlueCols.outerTableFooter .tableFootStyle {
            padding: 3px 5px;
        }
    /* DivTable.com */
    .divTable {
        display: table;
    }

    .divTableRow {
        display: table-row;
    }

    .divTableHeading {
        display: table-header-group;
    }

    .divTableCell, .divTableHead {
        display: table-cell;
    }

    .divTableHeading {
        display: table-header-group;
    }

    .divTableFoot {
        display: table-footer-group;
    }

    .divTableBody {
        display: table-row-group;
    }

    .checked {
        color: orange;
    }

    body {
        padding: 10px;
    }

    #exTab1 .tab-content {
        /*color: white;*/
        /*background-color: #abf4ab;*/
        padding: 5px 15px;
    }

    #exTab2 h3 {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }

    /* remove border radius for the tab */

    #exTab1 .nav-pills > li > a {
        border-radius: 0;
    }

    /* change border radius for the tab , apply corners on top*/

    #exTab3 .nav-pills > li > a {
        border-radius: 4px 4px 0 0;
    }

    #exTab3 .tab-content {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }
</style>
<link href="~/Content/zomato.css" rel="stylesheet" />
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(@System.Configuration.ConfigurationManager.AppSettings["webappurl"].ToString()Img/bg-img/hero-4.jpg)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Book Your Table</h2>
                    <p><i class="fa fa-check fa-1x" aria-hidden="true"></i>Select a Resturant</p>
                    <p><i class="fa fa-check fa-1x" aria-hidden="true"></i> Check overview</p>
                    <p><i class="fa fa-check fa-1x" aria-hidden="true"></i> Book your Table</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="booktable__component col-l-1by3 pl0i mb15" style="margin: 0 auto;float: none">
    <label class="ttupper fontsize1 bold">Select a Resturant</label>
    <div class="session-picker" id="session-picker">
        <select class="session-picker-mobile ui selection dropdown fluid mobile-selector" id="ResDDL"></select>
    </div>
    <div class="clear"></div>
</div>
<br />
<input type="hidden" id="hdnbkmrk" value="unchecked" />
<div class="clear"></div>
<div class="row">
    <div class="res-info-left col-l-11" style="min-height: 77px;">
        <div class="respageMenuContainer" style="width:74% !important;margin-left: 32px;">
            <div class="ui removeMenuBorder respageMenu large menu res-tabs-inner mb0">
                <a data-toggle="tab" class="item respageMenu-item restaurant-tab-item-jumbo-track active" id="overviewres" onclick="setactiveclass(1);" href="#1a" data-tab_type="info" data-current_tab="/info">
                    <span class="fontsize2">
                        Overview
                    </span>
                </a>
                <a data-toggle="tab" class="item restaurant-tab-item-jumbo-track " id="res_page_book_tab" onclick="setactiveclass(2);" href="#2a" data-trprovider="MEDIO_ZOMATO" data-tab_type="table_booking" data-current_tab="/info">
                    <h2 class="fontsize2 normal">
                        Book a Table
                    </h2>
                </a>
                <a data-toggle="tab" class="item respageMenu-item restaurant-tab-item-jumbo-track" id="menu" onclick="setactiveclass(3);" href="#3a" data-tab_type="menu" data-current_tab="/info">
                    <span class="fontsize2">
                        Menu
                    </span>
                </a>
                <a data-toggle="tab" class="item respageMenu-item restaurant-tab-item-jumbo-track" id="Photos" onclick="setactiveclass(4);" href="#4a" data-tab_type="reviews" data-current_tab="/info">
                    <span class="fontsize2">
                        Photos
                    </span>
                </a>
                <a data-toggle="tab" class="item respageMenu-item photosTab restaurant-tab-item-jumbo-track" id="Reviews" href="#5a" onclick="getreviews();setactiveclass(5);" data-tab_type="photos" data-current_tab="/info">
                    <span class="fontsize2">
                        Reviews
                    </span>
                </a>
                <div class="nav_bar_arrow nav_bar_arrow_left ml11 hidden"><i class="angle left icon zred"></i></div>
                <div class="nav_bar_arrow nav_bar_arrow_right mr11 hidden"><i class="angle right icon zred"></i></div>
            </div>
        </div>
        <div class="clear"></div>
        <div id="exTab1" class="container">
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1a">
                    <div class="row ui segment">
                        <div class="col-l-1by3    pl0 pr20">
                            <div class="mbot">
                                <div id="resinfo-phone" class="res-main-phone p-relative phone-details clearfix">
                                    <div class="phone" id="phoneNoString">
                                        <h2 class="mb5" tabindex="0" role="heading" aria-label="Phone number">Phone number</h2>
                                        <span class="tel left res-tel">
                                            <span class="fontsize2 bold zgreen"><span tabindex="0" id="phnnumber" class="tel"></span></span><br>
                                        </span>
                                    </div>
                                </div>
                                <span class="mb5 res-main-phone-reservation">
                                    <span class=" grey-text">
                                        Table booking recommended
                                    </span>
                                </span>
                                <div class="clear"></div>
                            </div>
                            <div class="mbot">
                                <div class="res-info-group clearfix">
                                    <h2 tabindex="0" class="mt0 mb5">Cuisines</h2>
                                    <div class="res-info-cuisines clearfix">
                                        <a class="zred" id="cuisines"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="mbot mtop">
                                <div class="res-info-group clearfix">
                                    <div class="res-info-detail">
                                        <div tabindex="0">
                                            <h2 class="left mt0 mb5">Average Cost&nbsp;</h2>
                                            <div class="clear"></div>
                                        </div>
                                        <span tabindex="0" id="avgcost"></span><div class="grey-text fontsize5 subtext">Exclusive of applicable taxes and charges, if any</div>
                                    </div>
                                </div>
                            </div>
                            <div class="mtop">
                                <div>
                                </div>
                            </div>
                        </div>
                        <div class="col-l-1by3   pl20 pr20">
                            <div class="mbot">
                                <div class="res-info-group clearfix">
                                    <div class="res-info-detail">
                                        <div tabindex="0" class="s-title hdn">
                                            <div class="left mr10">Opening hours</div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="res-info-timings">
                                            <div class="clearfix" tabindex="0"><h2 class="mt0 mb5 inlineblock">Rating</h2><h2 class="mt0" id="Ratingz"></h2></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb5">
                                <h2 tabindex="0" aria-label="Address">
                                    Address
                                </h2>
                            </div>
                            <div class="mbot0">

                                <div class="borderless res-main-address">
                                    <div class="resinfo-icon">
                                        <span id="ResAddr"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="2a">
                    <div class="row ui segment">
                        <div class="container booktable__container mtop ui segment  " id="mezzo_container">
                            <div class="ui inverted dimmer" id="booktable__dimmer"></div>
                            <div id="booktable__loader" class="ui text loader red" style="display:none;"></div>
                            <div class="booktable__formcontainer " id="booktable__formcontainer">
                                <div class="loader hidden"></div>
                                <div class="booktable__form_wrapper ">
                                    <div class="ui three cards deal-cards mt0 pb20"></div>
                                    <div class="clear"></div>
                                    <section>
                                        <form class="booktable__form clearfix" id="components-form">
                                            <p class="ui header">
                                                1. Please select your booking details
                                            </p>
                                            <div class="booktable__component col-l-1by3 pl0i mb15 ">
                                                <label class="ttupper fontsize5 bold">Select a date</label>
                                                <div class="date-picker mbot0" data-maxdays="30" id="date-picker" data-book-date="">
                                                    <input class="date-picker-mobile mobile-selector ui selection dropdown fluid" type="text" id="ChckInDte" name="Check In Date">
                                                    <div class="clear"></div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="booktable__component col-l-1by3 pl0i mb15">
                                                <label class="ttupper fontsize5 bold">Number of Guests</label>
                                                <div class="number-picker" data-max="20" data-min="1" id="number-picker">
                                                    <select class="party-picker-mobile ui selection dropdown fluid mobile-selector" id="GuestDDL"></select>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="booktable__component col-l-1by3 pl0i mb15">
                                                <label class="ttupper fontsize5 bold">Bookmark Resturant</label>
                                                <div class="number-picker">
                                                    <span class="fa fa-star" id="bkmrk" onclick="bookmark();" title="Click to bookmark"></span>
                                                    @*<img src="~/Img/like.png" id="bkmrk" onclick="bookmark();" title="Click to bookmark" />*@
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </form>
                                    </section>
                                    <div class="clear"></div>
                                </div>
                                <div class="userdata__form_wrapper ui vertical segment nb ">
                                    <div class="clear"></div>
                                    @if (Convert.ToBoolean(Request.RequestContext.HttpContext.Session["Isadmin"]))
                                    {
                                        <section>
                                            <div class="book-details ptop0 pbot">
                                                <p class="title ui header">2. Enter guest details</p>
                                            </div>
                                            <div class="form-error-common hidden"></div>
                                            <form class="booktable__form userdata-form disabled pb10" name="userdata-form" id="userdata-form">
                                                <div class="col-l-8 pl0 mb15 input-container phone">

                                                    <label class="form-label ttupper bold fontsize5">Book For </label>
                                                    <button class="btn btn-light" href="#8a">Whom?</button>
                                                    <div id="8a" class="tab-pane">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    Select Username :
                                                                </td>
                                                                <td>
                                                                    <select class="btn btn-info dropdown-toggle" id="selectnme"></select>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="input-container additional">
                                                    <label class="form-label ttupper bold fontsize5 mt10">Special requests</label>
                                                    <textarea name="notes" id="notes" data-validate="text" placeholder="Additional requests are not guaranteed. The restaurant will do its best to fulfil your request."></textarea>
                                                </div>
                                                <div class="clear"></div>
                                                <section class="mbot res-notice hidden ui segment" id="res-note">
                                                    <p class="small"></p>
                                                </section>
                                            </form>
                                        </section>
                                    }
                                    else
                                    {
                                        <div class="clear"></div>
                                        <div class="input-container additional">
                                            <label class="form-label ttupper bold fontsize5 mt10">Special requests</label>
                                            <textarea name="notes" id="notes" data-validate="text" placeholder="Additional requests are not guaranteed. The restaurant will do its best to fulfil your request."></textarea>
                                        </div>
                                        <div class="clear"></div>
                                        <section class="mbot res-notice hidden ui segment" id="res-note">
                                            <p class="small"></p>
                                        </section>
                                    }
                                    <section class="pt5 mobile-button-container ">
                                        <button class="ui big button blue  booktable__button" value="Confirm Booking" id="confirm-booking" onclick="BookTablet()">Confirm Booking</button>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="3a">
                    <div class="row ui segment">
                        <ul id="menuul"></ul>
                    </div>
                </div>
                <div class="tab-pane" id="4a">
                    <div class="row ui segment"> <ul id="photoul"></ul></div>
                </div>
                <div class="tab-pane" id="5a">
                    <div class="row ui segment">
                        <ul id="Review"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="res-info-right">
        <div class="resbox__sidebar display-similar-nearby-res ui segment" style="width: 346px;">
            <div class="res-info-group hom">
                <div class="mb15 bb pbot0">
                    <h2 tabindex="0" class="fontsize2 semi-bold">Recent Bookings</h2>
                </div>
                <div id="similar-restaurants-container" class="section ui cards pbot0">

                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<input type="hidden" id="Isadm" value="@Convert.ToBoolean(Request.RequestContext.HttpContext.Session["Isadmin"])" />
<input type="hidden" id="zomatoresId" value="" />
@*<input class="btn btn-success" type="button" onclick="BookTablet()" value="Submit" />*@
@section scripts {
    <script type="text/javascript">
        $("#ChckInDte").datetimepicker({
            minDate: 0, dateFormat: 'dd/mm/yy',
        });
        var userId = '@Request.RequestContext.HttpContext.Session["UserId"]';

        $(document).ready(function () {

            initalload();
            restDetails(1);
            getRecentBookings();
            $.ajax({
                type: "GET",
                url: appUrl +"api/tablereservation/GETData",
                success: function (data) {
                    $.each(data.Table, function (key, value) {
                        $("#ResDDL").append($('<option></option>').val(value.RestaurantId).html(value.RestaurantName));
                    });
                    $.each(data.Table1, function (key, value) {
                        $("#GuestDDL").append($('<option></option>').val(value.GuestNo).html(value.GuestNo));
                    });
                },
                failure: function (data) {
                    alert(xhr.status);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        });

        function initalload() {
            var modelparam = {
                UserId: userId
            }
            $.ajax({
                type: "POST",
                url: appUrl +"api/tablereservation/POSTUserGrid",
                data: modelparam,
                success: function (data) {
                    $("#usergrid").empty();
                    if (data.Table.length > 0) {
                        $("#usergrid").append("<tr><th>Booking Number</th><th>Resturant Name</th><th>Guests</th><th>Date</th><th>Status</th></tr>");
                        for (var i = 0; i < data.Table.length; i++) {
                            if (data.Table[i].StatusId == 1) {
                                $("#usergrid").append("<tr><td>" +
                                    data.Table[i].RegistrationNumber + "</td> <td>" +
                                    data.Table[i].RestaurantName + "</td><td>" +
                                    data.Table[i].GuestCount + "</td><td>" +
                                    data.Table[i].ApptDate + "</td><td class='btn-success'>Approved</td></tr>"
                                );
                            }
                            else if (data.Table[i].StatusId == 2) {
                                $("#usergrid").append("<tr><td>" +
                                    data.Table[i].RegistrationNumber + "</td> <td>" +
                                    data.Table[i].RestaurantName + "</td><td>" +
                                    data.Table[i].GuestCount + "</td><td>" +
                                    data.Table[i].ApptDate + "</td><td class='btn-danger'>Rejected</td></tr>"
                                );
                            }
                            else {
                                $("#usergrid").append("<tr><td>" +
                                    data.Table[i].RegistrationNumber + "</td> <td>" +
                                    data.Table[i].RestaurantName + "</td><td>" +
                                    data.Table[i].GuestCount + "</td><td>" +
                                    data.Table[i].ApptDate + "</td><td class='btn-warning'>Waiting for Approval</td></tr>"
                                );
                            }
                        }
                    }
                    $.each(data.Table1, function (key, value) {
                        $("#selectnme").append($('<option></option>').val(value.UserId).html(value.Username));
                    });
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

        function BookTablet() {
            var uId;
            if ($("#Isadm").val() != "") {
                uId = $("#selectnme").val();
            }
            else {
                uId = userId;
            }
            var valid = true,
                message = '';

            if (!$("#ChckInDte").val()) {
                if ($("#ChckInDte").parent().next(".validation").length == 0) // only add if not added
                {
                    $("#ChckInDte").parent().after("<div class='validation' style='color:red;margin-bottom: 20px;'>Please Enter Check In date and time</div>");
                    valid = false;
                }
                if (!focusSet) {
                    $("#ChckInDte").focus();
                }
            } else {
                $("#ChckInDte").parent().next(".validation").remove(); // remove it
                valid = true;
            }
            if (!valid) {

            }
            else {
                var BkTablemodel = {
                    ResturantId: $("#ResDDL").val(),
                    ApptDate: $("#ChckInDte").val(),
                    GuestCount: $("#GuestDDL").val(),
                    notes: $("#notes").val(),
                    UserId: uId
                }

                $.ajax({
                    type: "POST",
                    url: appUrl +"api/tablereservation/POSTbookTable",
                    data: BkTablemodel,
                    success: function (data) {
                        alert("Your Booking Id is " + data);
                        initalload();
                    },
                    failure: function (data) {
                        alert(xhr.status);
                    },
                    error: function (data) {
                        alert(data.responseText);
                    }
                });
            }
        }

        $("#ResDDL").change(function () {
            var resId = $("#ResDDL").val();
            restDetails(resId);
        });

        function restDetails(resId) {
            var Restumodel = {
                ResturantId: resId,
                UserId: userId
            }

            $.ajax({
                type: "POST",
                url: appUrl +"api/tablereservation/POSTResDetails",
                data: Restumodel,
                success: function (data) {
                    //$("#ResAddr").text(data.Table[0].RestaurantAddr);
                    $("#phnnumber").text(data.Table[0].ResPhneNumber);
                    //$("#avgcost").text(data.Table[0].ResAvgCost);
                    $("#zomatoresId").val(data.Table[0].Res_id);
                    if (data.Table1[0].Column1 == 1) {
                        $('#bkmrk').addClass("checked");
                        $('#hdnbkmrk').val("checked");

                    }
                    else {
                        $('#bkmrk').removeClass("checked");
                        $('#hdnbkmrk').val("unchecked");
                    }
                    $("#menuul").html('');
                    var list = $("#menuul").append('<ul ></ul>').find('ul');
                    $.each(data.Table2, function (key, value) {
                        list.append('<li><img style="width: 600px;" src="'+ webappUrl + value.imgurl +'"/></li><br />');
                    });
                    $("#photoul").html('');
                    var list = $("#photoul").append('<ul ></ul>').find('ul');
                    $.each(data.Table3, function (key, value) {
                        list.append('<li><img style="width: 600px;" src="' + webappUrl + value.img_url + '"/></li><br />');
                    });
                    getreviews();
                    getzomatoresDetails();
                },
                failure: function (data) {
                    alert(xhr.status);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }


        function bookmark() {
            var Isactive;
            if ($('#hdnbkmrk').val() == "checked") {
                Isactive = false;
            } else {
                Isactive = true;
            }
            var bookmrkmodel = {
                ResturantId: $("#ResDDL").val(),
                UserId: userId,
                Isactive: Isactive
            }

            $.ajax({
                type: "POST",
                url: appUrl +"api/tablereservation/POSTBookmark",
                data: bookmrkmodel,
                success: function (data) {
                    if ($('#hdnbkmrk').val() == "unchecked") {
                        $('#hdnbkmrk').val("checked");
                        $('#bkmrk').addClass("checked");
                    }
                    else {
                        $('#hdnbkmrk').val("unchecked");
                        $('#bkmrk').removeClass("checked");
                    }
                    alert("Resturant Bookmarked Successfully");
                },
                failure: function (data) {
                    alert(xhr.status);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }


        function getreviews() {
            var res_id = $("#zomatoresId").val();
            $("#Review").html('');
            var list = $("#Review").append('<ul ></ul>').find('ul');
            $.ajax({
                method: "GET",
                "content-type": "application/ json",
                "access-control-allow-origin": "*",
                "access-control-allow-methods": "GET, POST, DELETE, PUT, PATCH, OPTIONS",
                "access-control-allow-headers": "X-Zomato-API-Key",
                "access-control-allow-credentials": "true",
                async: true,
                url: "https://developers.zomato.com/api/v2.1/reviews?res_id=" + res_id,
                headers: {
                    'X-Zomato-API-Key': '0c5feffd407771b7f4d3e65b01874dff'
                },
                content: "application/json",
                success: function (data) {
                    $.each(data.user_reviews, function (key, value) {
                        list.append('<li><img style="width: 100px;" src="' + value.review.user.profile_image + '"/><h2>' + value.review.user.name + '</h2><p>' + value.review.review_time_friendly + '</p><h3>' + value.review.review_text + '</h3></li><br />');
                    });
                }
            });

        }


        function getzomatoresDetails() {
            var res_id = $("#zomatoresId").val();
            $("#Overview").html('');
            var list = $("#Overview").append('<ul ></ul>').find('ul');
            $.ajax({
                method: "GET",
                "content-type": "application/ json",
                "access-control-allow-origin": "*",
                "access-control-allow-methods": "GET, POST, DELETE, PUT, PATCH, OPTIONS",
                "access-control-allow-headers": "X-Zomato-API-Key",
                "access-control-allow-credentials": "true",
                async: true,
                url: "https://developers.zomato.com/api/v2.1/restaurant?res_id=" + res_id,
                headers: {
                    'X-Zomato-API-Key': '0c5feffd407771b7f4d3e65b01874dff'
                },
                content: "application/json",
                success: function (data) {
                    $("#ResAddr").text(data.location.address);
                    $("#avgcost").text(data.average_cost_for_two);
                    $("#cuisines").text(data.cuisines);
                    $("#Ratingz").text(data.user_rating.aggregate_rating);
                    //var s = data.featured_image;
                    //s = s.substring(0, s.indexOf('?'));
                    //$("#resbackgd").css('background-image', 'url(' + s + ')'); //data.featured_image
                }
            });
        }

        function setactiveclass(tab) {
            if (tab == 1) {
                $("#res_page_book_tab").removeClass('active');
                $("#menu").removeClass('active');
                $("#overviewres").addClass('active');
                $("#Photos").removeClass('active');
                $("#Reviews").removeClass('active');
            }
            if (tab == 2) {
                $("#res_page_book_tab").addClass('active');
                $("#menu").removeClass('active');
                $("#overviewres").removeClass('active');
                $("#Photos").removeClass('active');
                $("#Reviews").removeClass('active');
            }
            if (tab == 3) {
                $("#res_page_book_tab").removeClass('active');
                $("#menu").addClass('active');
                $("#overviewres").removeClass('active');
                $("#Photos").removeClass('active');
                $("#Reviews").removeClass('active');
            }
            if (tab == 4) {
                $("#res_page_book_tab").removeClass('active');
                $("#menu").removeClass('active');
                $("#overviewres").removeClass('active');
                $("#Photos").addClass('active');
                $("#Reviews").removeClass('active');
            }
            if (tab == 5) {
                $("#res_page_book_tab").removeClass('active');
                $("#menu").removeClass('active');
                $("#overviewres").removeClass('active');
                $("#Photos").removeClass('active');
                $("#Reviews").addClass('active');
            }

        }

        function getRecentBookings() {
            var mdl = {
                UserId: userId
            }
            $.ajax({
                type: "POST",
                url: appUrl + "api/tablereservation/POSTRecentbookings",
                data: mdl,
                success: function (data) {
                    $.each(data.Table, function (key, value) {
                        $("#similar-restaurants-container").append($('<div class="col-l-16"><div class="w100  bb "><div class="mtop0 mbot0"><div class="ui list"><div class="item"><b>' + value.Resname + '</b><div class="right floated level-7"><div class="content"><div class= "header nowrap" ></div><div class="grey-text nowrap fontsize5"></div></div></div></div>' + value.resaddr +'</div></div></div>'));
                    });
                },
                failure: function (data) {
                    alert(xhr.status);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }
    </script>
}




