
@{
    ViewBag.Title = "Dasboard";
}
<style>
    table, th, td {
        border: 1px solid black;
    }

    div.steelBlueCols {
        border: 4px solid #555555;
        background-color: #555555;
        width: 800px;
        text-align: center;
        border-collapse: collapse;
    }

    .divTable.steelBlueCols .divTableCell, .divTable.steelBlueCols .divTableHead {
        border: 1px solid #555555;
        padding: 5px 10px;
    }

    .divTable.steelBlueCols .divTableBody .divTableCell {
        font-size: 12px;
        font-weight: bold;
        color: #FFFFFF;
    }

    .divTable.steelBlueCols .divTableCell:nth-child(even) {
        background: #398AA4;
    }

    .steelBlueCols .tableFootStyle {
        font-size: 13px;
    }

        .steelBlueCols .tableFootStyle .links {
            text-align: right;
        }

            .steelBlueCols .tableFootStyle .links a {
                display: inline-block;
                background: #FFFFFF;
                color: #398AA4;
                padding: 2px 8px;
                border-radius: 5px;
            }

    .steelBlueCols.outerTableFooter {
        border-top: none;
    }

        .steelBlueCols.outerTableFooter .tableFootStyle {
            padding: 3px 5px;
        }
    /* DivTable.com */
    .divTable {
        display: table;
    }

    .divTableRow {
        display: table-row;
    }

    .divTableHeading {
        display: table-header-group;
    }

    .divTableCell, .divTableHead {
        display: table-cell;
    }

    .divTableHeading {
        display: table-header-group;
    }

    .divTableFoot {
        display: table-footer-group;
    }

    .divTableBody {
        display: table-row-group;
    }

    .checked {
        color: orange;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>Book your Table</h2>
<h3>Please select your booking details</h3>
<br />
<br />
Select a Resturant
<select class="btn btn-primary dropdown-toggle" id="ResDDL"></select>
Select a date and time
<input type="text" id="ChckInDte" name="Check In Date">
Number of guests
<select class="btn btn-primary dropdown-toggle" id="GuestDDL"></select>  <span class="fa fa-star" id="bkmrk" onclick="bookmark();" title="Click to bookmark">Bookmark Restaurant</span>
<input type="hidden" id="hdnbkmrk" value="unchecked" />
<br />
<br />
@Html.ActionLink("Your Bookmarks", "Bookmarks", "Home", new { }, null)
<br />
<br />
<text><b>Restaurant Overview</b></text>
<div id="ResDetails">
    <div class="divTable steelBlueCols">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">Adddress</div>
                <div class="divTableCell" id="ResAddr">cell2_1</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">Phone Number</div>
                <div class="divTableCell" id="phnnumber">cell2_2</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">Average Cost</div>
                <div class="divTableCell" id="avgcost">cell2_2</div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<input class="btn btn-success" type="button" onclick="BookTablet()" value="Submit" />
<br />
<br />
<button class="btn btn-light" data-toggle="collapse" data-target="#demo">Booking History</button>
<div id="demo" class="collapse">
    <table id="usergrid" class="display" style="width:100%"></table>
</div>
@section scripts {
    <script type="text/javascript">
        $("#ChckInDte").datetimepicker({
            minDate: 0, dateFormat: 'dd/mm/yy',
        });
        var userId = '@Request.RequestContext.HttpContext.Session["UserId"]';

        $(document).ready(function () {

            initalload();
            restDetails(1);
            $.ajax({
                type: "GET",
                url: "http://localhost:53808/api/tablereservation/GETData",
                success: function (data) {
                    $.each(data.Table, function (key, value) {
                        $("#ResDDL").append($('<option></option>').val(value.RestaurantId).html(value.RestaurantName));
                    });
                    $.each(data.Table1, function (key, value) {
                        $("#GuestDDL").append($('<option></option>').val(value.GuestNo).html(value.GuestNo));
                    });
                },
                failure: function (data) {
                    alert(xhr.status);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        });

        function initalload() {
            var modelparam = {
                UserId: userId
            }
            $.ajax({
                type: "POST",
                url: "http://localhost:53808/api/tablereservation/POSTUserGrid",
                data: modelparam,
                success: function (data) {
                    $("#usergrid").empty();
                    if (data.Table.length > 0) {
                        $("#usergrid").append("<tr><th>Registration Number</th><th>Resturant Name</th><th>Guests</th><th>Date</th><th>Status</th></tr>");
                        for (var i = 0; i < data.Table.length; i++) {
                            if (data.Table[i].StatusId == 1) {
                                $("#usergrid").append("<tr><td>" +
                                    data.Table[i].RegistrationNumber + "</td> <td>" +
                                    data.Table[i].RestaurantName + "</td><td>" +
                                    data.Table[i].GuestCount + "</td><td>" +
                                    data.Table[i].ApptDate + "</td><td class='btn-success'>Approved</td></tr>"
                                );
                            }
                            else if (data.Table[i].StatusId == 2) {
                                $("#usergrid").append("<tr><td>" +
                                    data.Table[i].RegistrationNumber + "</td> <td>" +
                                    data.Table[i].RestaurantName + "</td><td>" +
                                    data.Table[i].GuestCount + "</td><td>" +
                                    data.Table[i].ApptDate + "</td><td class='btn-danger'>Rejected</td></tr>"
                                );
                            }
                            else {
                                $("#usergrid").append("<tr><td>" +
                                    data.Table[i].RegistrationNumber + "</td> <td>" +
                                    data.Table[i].RestaurantName + "</td><td>" +
                                    data.Table[i].GuestCount + "</td><td>" +
                                    data.Table[i].ApptDate + "</td><td class='btn-warning'>Waiting for Approval</td></tr>"
                                );
                            }
                        }
                    }
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

        function BookTablet() {
            var valid = true,
                message = '';
            if ($("#ChckInDte").val() == "") {
                message += "Please select the date and time \n";
                valid = false;
            }
            if (!valid) {
                alert(message);
            }
            else {
                var BkTablemodel = {
                    ResturantId: $("#ResDDL").val(),
                    ApptDate: $("#ChckInDte").val(),
                    GuestCount: $("#GuestDDL").val(),
                    UserId: userId
                }

                $.ajax({
                    type: "POST",
                    url: "http://localhost:53808/api/tablereservation/POSTbookTable",
                    data: BkTablemodel,
                    success: function (data) {
                        alert("Your Booking Id is " + data);
                        initalload();
                    },
                    failure: function (data) {
                        alert(xhr.status);
                    },
                    error: function (data) {
                        alert(data.responseText);
                    }
                });
            }
        }

        $("#ResDDL").change(function () {
            var resId = $("#ResDDL").val();
            restDetails(resId);
        });

        function restDetails(resId) {
            var Restumodel = {
                ResturantId: resId,
                UserId: userId
            }

            $.ajax({
                type: "POST",
                url: "http://localhost:53808/api/tablereservation/POSTResDetails",
                data: Restumodel,
                success: function (data) {
                    $("#ResAddr").text(data.Table[0].RestaurantAddr);
                    $("#phnnumber").text(data.Table[0].ResPhneNumber);
                    $("#avgcost").text(data.Table[0].ResAvgCost);
                    if (data.Table1[0].Column1 == 1) {
                        $('#bkmrk').addClass("checked");
                        $('#hdnbkmrk').val("checked");

                    }
                    else {
                        $('#bkmrk').removeClass("checked");
                        $('#hdnbkmrk').val("unchecked");
                    }
                },
                failure: function (data) {
                    alert(xhr.status);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }



        function bookmark() {
            var Isactive;
            if ($('#hdnbkmrk').val() == "checked") {
                Isactive = false;
            } else {
                Isactive = true;
            }
            var bookmrkmodel = {
                ResturantId: $("#ResDDL").val(),
                UserId: userId,
                Isactive: Isactive
            }

            $.ajax({
                type: "POST",
                url: "http://localhost:53808/api/tablereservation/POSTBookmark",
                data: bookmrkmodel,
                success: function (data) {
                    if ($('#hdnbkmrk').val() == "unchecked") {
                        $('#hdnbkmrk').val("checked");
                        $('#bkmrk').addClass("checked");
                    }
                    else {
                        $('#hdnbkmrk').val("unchecked");
                        $('#bkmrk').removeClass("checked");
                    }
                },
                failure: function (data) {
                    alert(xhr.status);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }
    </script>
}




