
@{
    ViewBag.Title = "Login";
}

<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(@System.Configuration.ConfigurationManager.AppSettings["webappurl"].ToString()img/bg-img/hero-2.jpg)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <th style="color:yellow" colspan="3">
                                Log In
                            </th>
                        </tr>
                        <tr>
                            <td style="color:yellow">
                                Username
                            </td>
                            <td>
                                <input type="text" id="Username" name="Username">
                            </td>
                        </tr>
                        <tr>
                            <td style="color:yellow">
                                Password
                            </td>
                            <td>
                                <input type="password" id="Password" name="Password">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" class="btn btn-success" onclick="Loginvalidate()" value="Submit" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*<section class="caviar-dish-menu clearfix" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12 menu-heading">
                <div class="section-heading text-center">
                    <h2>Special</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="img/menu-img/dish-1.png" alt="">
                    <div class="dish-info">
                        <h6 class="dish-name">Lorem Ipsum Dolor Sit Amet</h6>
                        <p class="dish-price">$45</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="img/menu-img/dish-2.png" alt="">
                    <div class="dish-info">
                        <h6 class="dish-name">Lorem Ipsum</h6>
                        <p class="dish-price">$45</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="img/menu-img/dish-3.png" alt="">
                    <div class="dish-info">
                        <h6 class="dish-name">Lorem Ipsum Dolor Sit Amet</h6>
                        <p class="dish-price">$45</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
@section scripts {
    <script type="text/javascript">
        function Loginvalidate() {
            var valid = true,
                message = '';

            if ($("#Username").val() == "") {
                message += "Please Enter User Name \n";
                valid = false;
            }
            if ($("#Password").val() == "") {
                message += "Please Enter Password \n";
                valid = false;
            }
            if (!valid) {
                alert(message);
            }
            else {
                var BkTablemodel = {
                    Username: $("#Username").val(),
                    Password: $("#Password").val()
                }

                $.ajax({
                    type: "POST",
                    url: appUrl + "api/tablereservation/POSTLogIn",
                    data: BkTablemodel,
                    success: function (data) {
                        if (data.Table[0].Column1 == 2) {
                            alert("Login Failed!!!");
                            $("#Username").val('');
                            $("#Password").val('');
                        }
                        else {
                            window.location.href = webappUrl + 'Home/SetAuthentication?PostData1=' + data.Table[0].Username + "&PostData2=" + data.Table[0].IsAdmin + "&PostData3=" + data.Table[0].UserId;
                        }
                    },
                    failure: function (data) {
                        alert(xhr.status);
                    },
                    error: function (data) {
                        alert(data.responseText);
                    }
                });
            }
        }
    </script>
}
