<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
    }

        table th {
            background-color: #F7F7F7;
            color: #333;
            font-weight: bold;
        }

        table th, table td {
            padding: 5px;
            border: 1px solid #ccc;
        }

    .error {
        color: red;
    }
</style>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <th colspan="3">
            Registration
        </th>
    </tr>
    <tr>
        <td>
            Username
        </td>
        <td>
            <input type="text" id="Username" name="Username">
        </td>
    </tr>
    <tr>
        <td>
            Password
        </td>
        <td>
            <input type="password" id="Password" name="Password">
        </td>
    </tr>
    <tr>
        <td>
            Confirm Password
        </td>
        <td>
            <input type="password" id="ConfirmPassword" name="ConfirmPassword">
        </td>
    </tr>
    <tr>
        <td>
            Email
        </td>
        <td>
            <input type="text" id="Email" name="Email">
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" onclick="BkTable();" value="Submit" />
        </td>
    </tr>
</table>
@section scripts {
    <script type="text/javascript">
        function BkTable() {
            var valid = true,
                message = '';

            if ($("#Username").val() == "") {
                message += "Please Enter User Name \n";
                valid = false;
            }
            if ($("#Password").val() == "") {
                message += "Please Enter Password \n";
                valid = false;
            }
            if ($("#Email").val() == "") {
                message += "Please Enter Email \n";
                valid = false;
            }
            if (!valid) {
                alert(message);
            }
            else {

                var BkTablemodel = {
                    Username: $("#Username").val(),
                    Password: $("#Password").val(),
                    Email: $("#Email").val(),
                }

                $.ajax({
                    type: "POST",
                    url: "http://localhost:53808/api/tablereservation/POSTBkTable",
                    data: BkTablemodel,
                    success: function (data) {
                        alert("Registered Successfully. Please LogIn to Book Table");
                    },
                    failure: function (data) {
                        alert(xhr.status);
                    },
                    error: function (data) {
                        alert(data.responseText);
                    }
                });
            }
        }
    </script>
}

